.social-section {
    text-align:center;
    padding:50px 20px;
}

.social-section h2 {
    font-size:32px;
    color:#7b2d12;
    margin-bottom:10px;
}

.social-section p {
    color:#555;
    margin-bottom:35px;
}


.social-cards {
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:25px;
}


.social-card {
    width:260px;
    display:flex;
    align-items:center;
    gap:15px;
    padding:18px;
    border-radius:20px;
    text-decoration:none;
    background:#fff;
    color:#333;
    box-shadow:0 8px 25px rgba(0,0,0,.15);
    transition:.3s;
}


.social-card:hover {
    transform:translateY(-8px);
}


.social-card img {
    width:45px;
    height:45px;
}


.social-card div {
    text-align:left;
}


.social-card strong {
    display:block;
    font-size:18px;
}


.social-card span {
    font-size:14px;
    color:#666;
}


.instagram {
    border-left:5px solid #d62976;
}


.youtube {
    border-left:5px solid red;
}


.whatsapp {
    border-left:5px solid #25D366;
}


.mail {
    border-left:5px solid #0078d4;
}


@media(max-width:600px){

.social-card{
    width:90%;
}

}
