*{

margin:0;
padding:0;
box-sizing:border-box;

}


body{

font-family:'Poppins',sans-serif;

background:#fff8ef;

color:#333;

}



/* ÜST ALAN */


.hero{

min-height:90vh;

background:linear-gradient(135deg,#7b3f00,#d2691e);

position:relative;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

}


.overlay{

position:absolute;

inset:0;

background:rgba(0,0,0,.25);

}



nav{

position:absolute;

top:35px;

z-index:2;

}



.text-logo{

color:white;

font-size:32px;

font-weight:700;

letter-spacing:2px;

}




.hero-content{

position:relative;

z-index:2;

width:90%;

max-width:900px;

color:white;

}



.hero-content h1{

font-size:52px;

line-height:1.3;

margin-bottom:25px;

}



.hero-content p{

font-size:20px;

line-height:1.7;

margin-bottom:35px;

}





.instagram-btn{

background:#e1306c;

color:white;

padding:15px 35px;

border-radius:40px;

text-decoration:none;

font-weight:600;

display:inline-block;

}




/* BÖLÜMLER */


.about,
.works,
.social{

padding:70px 10%;

text-align:center;

}



h2{

color:#b45f06;

font-size:35px;

margin-bottom:25px;

}



.about p{

max-width:850px;

margin:auto;

line-height:1.8;

}





.items{

display:flex;

justify-content:center;

gap:25px;

flex-wrap:wrap;

}



.items div{

background:white;

padding:30px;

width:280px;

border-radius:20px;

box-shadow:0 10px 25px #ddd;

}



.items h3{

margin:15px 0;

}





.social a{

color:#e1306c;

font-size:22px;

font-weight:600;

text-decoration:none;

}




footer{

background:#222;

color:white;

padding:30px;

text-align:center;

}



footer p{

color:#ff9800;

margin-bottom:10px;

}




@media(max-width:768px){


.hero-content h1{

font-size:34px;

}


.hero-content p{

font-size:17px;

}


.text-logo{

font-size:24px;

}


}
